@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow: rgba(66, 71, 91, 0.1);

  --navbar-height: 96px;
}

/* 768px is --breakpoint-sm */
@media (min-width: 768px) {
  :root {
    --navbar-height: 120px;
  }
}

/* Outermost DIV where all React is rendered */
#root {
  /* This sets the default font for all elements because below we have * { font-family: inherit; }
  */
  @apply font-work-sans text-neutral-700 text-base w-screen flex flex-col items-stretch;
}

* {
  scroll-behavior: smooth;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-5xl;
}
h3 {
  @apply font-medium text-4xl uppercase;
}
h4 {
  @apply font-medium text-2xl;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--shadow);
  box-shadow: var(--shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.resume-button {
  background: transparent;
}

.resume-button:hover {
  background: var(--shadow);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

@font-face {
  font-family: 'Nohemi';
  font-weight: 900;
  src: url('./components/fonts/NohemiBlack.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 800;
  src: url('./components/fonts/NohemiExtraBold.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 700;
  src: url('./components/fonts/NohemiBold.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 600;
  src: url('./components/fonts/NohemiSemiBold.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 500;
  src: url('./components/fonts/NohemiMedium.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 400;
  src: url('./components/fonts/NohemiRegular.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 300;
  src: url('./components/fonts/NohemiLight.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 200;
  src: url('./components/fonts/NohemiExtraLight.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 100;
  src: url('./components/fonts/NohemiThin.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url('./components/fonts/AvenirRegular.ttf') format('ttf');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  src: url('./components/fonts/AvenirMedium.ttf') format('ttf');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  src: url('./components/fonts/AvenirHeavy.ttf') format('ttf');
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./components/fonts/WorkSans-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 100 900;
}
@font-face {
  font-family: 'Work Sans';
  src: url('./components/fonts/WorkSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
}
@font-face {
  font-family: 'Nat';
  src: url('./components/fonts/NatFont-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nat';
  src: url('./components/fonts/NatFontBold-Regular.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Nat Symbol';
  src: url('./components/fonts/NatSymbolFont-Regular.ttf') format('truetype');
  font-weight: 400;
}
