/* TAILWIND SETUP */
/* -------------------------------- */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL CSS VARIABLES */
/* -------------------------------- */
:root {
  --shadow: rgba(66, 71, 91, 0.1);
  --navbar-height: 96px;
}

/* 768px is --breakpoint-sm */
@media (min-width: 768px) {
  :root {
    --navbar-height: 156px;
  }
}

/* HIGH-LEVEL STYLING */
/* -------------------------------- */

html {
  scroll-padding-top: var(--navbar-height);
}

/* Outermost DIV where all React is rendered */
#root {
  /* This sets the default font for all elements because below we have * { font-family: inherit; }
  */
  @apply font-work-sans text-neutral-700 text-base;
}

/* GLOBAL ELEMENT STYLES */
/* -------------------------------- */

* {
  scroll-behavior: smooth;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
}

strong {
  @apply font-medium;
}

/* FONT-FACE DECLARATIONS */
/* -------------------------------- */

@font-face {
  font-family: 'Nohemi';
  font-weight: 900;
  src: url('./components/fonts/NohemiBlack.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 800;
  src: url('./components/fonts/NohemiExtraBold.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 700;
  src: url('./components/fonts/NohemiBold.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 600;
  src: url('./components/fonts/NohemiSemiBold.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 500;
  src: url('./components/fonts/NohemiMedium.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 400;
  src: url('./components/fonts/NohemiRegular.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 300;
  src: url('./components/fonts/NohemiLight.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 200;
  src: url('./components/fonts/NohemiExtraLight.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi';
  font-weight: 100;
  src: url('./components/fonts/NohemiThin.woff') format('woff');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url('./components/fonts/AvenirRegular.ttf') format('ttf');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  src: url('./components/fonts/AvenirMedium.ttf') format('ttf');
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  src: url('./components/fonts/AvenirHeavy.ttf') format('ttf');
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./components/fonts/WorkSans-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-style: italic;
  font-weight: 100 900;
}
@font-face {
  font-family: 'Work Sans';
  src: url('./components/fonts/WorkSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
}
@font-face {
  font-family: 'Nat';
  src: url('./components/fonts/NatFont-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nat';
  src: url('./components/fonts/NatFontBold-Regular.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Nat Symbol';
  src: url('./components/fonts/NatSymbolFont-Regular.ttf') format('truetype');
  font-weight: 400;
}
